<div  *ngIf="!_authService.logged">
    <div class="auth-block row" style="max-height: 40%">
        <div class="col-md-12 col-xs-12" style="text-align: center; margin-top: 15%; margin-bottom: 20%;">
            <h2 style="color:  #FB8234;">Snap-AT</h2>
        </div>
    </div>
    <div class="row" style="max-height: 45%; margin-bottom: 5%">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #FB8234;">
                    <h3 class="panel-title">Connexion</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <!-- <label for="inputEmail" class="col-xs-12 control-label">Email</label> -->
                                <div class="col-xs-12">
                                    <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label for="inputPassword" class="col-xs-12 control-label">Mot de passe</label> -->
                                <div class="col-xs-12">
                                    <input type="password" id="password" required [(ngModel)]="password" name="password" class="form-control" placeholder="Mot de passe"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12" style="text-align: center; margin-top: 20px;">
                                    <button type="submit" class="btn btn-primary" style="background-color: #FB8234;" (click)="submitLogin(email, password)">Connexion</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <img src="./assets/img/gfiLogo.jpg" alt="Logo de GFI" style="width: 100px; margin: auto;" />
    </div>
</div>





    <!-- <div class="auth-content col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-6">
        <form>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">
                    Email :
                </label>
                <div class="col-sm-10">
                    <input type="email" id="email" required [(ngModel)]="email" name="email" class="form-control"/>
                </div>    
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">
                    Mot de passe :
                </label>
                <div class="col-sm-10">                        
                    <input type="password" id="password" required [(ngModel)]="password" name="password" class="form-control"/>
                </div>
            </div>

            <div class="login-button form-group row">
                <div class="col-sm-10">
                    <button type="submit" (click)="submitLogin(email, password)" class="btn btn-primary">
                        Valider    
                    </button> 
                </div> 
            </div>

        </form>
    </div>

</div> -->

<div *ngIf="_authService.logged">
    <router-outlet></router-outlet>    
</div>

        
        