<div class="auth-block">
    <div class="auth-title">
        <h1>
            Virgil
        </h1>
    </div>
    <div class="auth-content">
        <form>
            <fieldset>
                <label for="login">
                    Pseudo :
                </label>
                <input type="text" id="pseudo" required [(ngModel)]="pseudo" name="pseudo" />
                <label for="password">
                    Mot de passe :
                </label>
                <input type="password" id="password" required [(ngModel)]="password" name="password" />
                <input type="submit" value="Valider" (click)="submitLogin(pseudo, password)" />
            </fieldset>
        </form>
    </div>
</div>