<div class="row" style="height: 5%;">
    <div class="col-md-12 col-xs-12" style="text-align: center; background-color: #FB8234;">
        <h5 style="color: white">SNAP-AT</h5>
    </div>
</div>
<div class="row" style="height: 50%; max-height: 50%; margin-top: 5%; padding: 10px">
    <div class="col-md-12 col-xs-12" style="text-align: center;" >
        <h5 style="font-weight: bold; color:#FB8234;">Mes besoins</h5>
        <table style="text-align: left; max-height: 50%;" class="table table-striped" [mfData]="needs" #mf="mfDataTable" [mfRowsOnPage]="6">
          <thead>
          <tr>
              <th style="width: 20%">
                  <mfDefaultSorter by="title">Titre</mfDefaultSorter>
              </th>
              <th style="width: 25%">
                  <mfDefaultSorter by="customer">Client</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                  <mfDefaultSorter by="status">Statut</mfDefaultSorter>
              </th>
              <th style="width: 30%">
                  <mfDefaultSorter by="created_at">Date</mfDefaultSorter>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let need of mf.data" (click)="showSpecificNeed(need.id, templateNeed)">
              <td>{{need.title}}</td>
              <td>{{need.customer_obj.name}}</td>
              <td>{{need.status}}</td>
              <td>{{need.created_at}}</td>
          </tr>
          </tbody>
          <tfoot style="text-align: center">
            <tr >
                <td colspan="4"> 
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
          </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12" style="text-align: center">
            <button class="btn btn-primary" style="background-color: #FB8234" (click)="goToForm()">Ajouter un besoin</button>                    
    </div>
</div>

<template #templateNeed>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            {{ chosenNeed.title }}
        </h4>
        <button type="button" class="delete-btn btn btn-danger" (click)="tryDeleteNeed(chosenNeed.id, template)">
            Supprimer
        </button>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-body-look">
        <div>
            <strong>Client :</strong>
            <span>
                {{ chosenNeed.customer_obj.name }}
            </span>
        </div>
        <div>
            <strong>Contact :</strong>
            <span>
                {{ chosenNeed.contact_obj.name }}
            </span>
        </div>
        <div> 
            <strong>Statut :</strong>
            <span>{{ chosenNeed.status }}</span>
        </div>
        <div>
            <strong>Créé le :</strong>
            <span>{{ chosenNeed.created_at }}</span>
        </div>
        <div>
            <strong>Durée en mois :</strong>
            <span>
                {{ chosenNeed.month_duration }}
            </span>
        </div>
        <div>
            <strong>Description :</strong>
            <span>{{ chosenNeed.description }}</span>
        </div>
        <div *ngFor="let k of chosenNeed.success_keys; let i = index">
            <strong>Clef du succès n°{{i+1}} :</strong>
            <span>
                {{ k }}
            </span>
        </div>
        <div *ngFor="let c of chosenNeed.consultants_obj; let i = index">
            <strong>Consultant n°{{i+1}}:</strong>
            <span>
                {{ c.name }}
            </span>
        </div>
    </div>
</template>


<template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Attention</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-body-delete">
        <div class="delete-mention">
            Souhaitez-vous supprimer ce besoin ?
        </div>
        <div>
            <button class="yes-delete-button btn btn-primary" (click)="deleteNeed()">Oui</button>
            <button class="no-delete-button btn btn-danger" (click)="dontDeleteNeed()">Non</button>
        </div>
    </div>
</template>