<button class="btn btn-primary" (click)="goToForm()">Ajouter un besoin</button>

<table class="table table-striped" [mfData]="needs" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
      <th style="width: 20%">
          <mfDefaultSorter by="title">Titre</mfDefaultSorter>
      </th>
      <th style="width: 20%">
          <mfDefaultSorter by="customer">Client</mfDefaultSorter>
      </th>
      <th style="width: 10%">
          <mfDefaultSorter by="status">Statut</mfDefaultSorter>
      </th>
      <th style="width: 20%">
          <mfDefaultSorter by="created_at">Date</mfDefaultSorter>
      </th>
      <th style="width: 10%">
          <mfDefaultSorter by="delete">Supprimer</mfDefaultSorter>            
      </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let need of needs">
      <td>{{need.title}}</td>
      <td>{{need.customer}}</td>
      <td>{{need.status}}</td>
      <td>{{need.created_at}}</td>
      <td>
        <button (click)="tryDeleteNeed(need.id, template)" class="btn btn-danger btn-sm">
            Del
        </button>
      </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>

<template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Attention</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Souhaitez-vous supprimer ce besoin ?
        </div>
        <div class="btn-group">
            <button (click)="deleteNeed()">Oui</button>
            <button (click="dontDeleteNeed()">Non</button>
        </div>
    </template>