.modal-body-look {
    position: relative;
    left: 30px;
}

.modal-body-delete {
    text-align: center;    
}

.delete-btn {
    position: relative;
    top: 5px;
    left: 40px;
}

.delete-mention {
    position: relative;
    bottom: 20px;
}

.yes-delete-button {
    position: relative;
    right: 20px;
}

.no-delete-button {
    position: relative;
    left: 20px;
}